//------------------------------------
//   VARIABLES
//------------------------------------

//font-stacks
$title: 'moonlight', sans-serif;
$body:  'Dosis', sans-serif;

//colors
$main-color: #34d9c3;
$link-color: #060e9f;

//paths
$image-path:  '../images';



// Breakpoints
$container: 1200px;
$hd: 1920px;
$desktop: 1260px;
$tablet: 700px;
$phablet: 550px;
$mobile: 400px;
$navigation-breakpoint: 40em;
